* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}

body {
    background-color: whitesmoke;
    color: black;
    line-height: 1.6;

}

/* Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: white;
    position: sticky;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo span {
    color: red;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover, 
.nav-links li a.active {
    color: red;
    text-decoration: underline;
}

.btn {
    background-color: red;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d10000;

}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    display: none;
    list-style: none;
    
}

.dropdown:hover .dropdown-content  {
    display: block;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
    background: #f8f8f8;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}

.hero-text h1 {
    font-family: Caveat, cursive;
    font-size: 2.8rem;
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 200;
}

.hero-text p {
    margin-bottom: 25px;
    color: #666;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.red {
    background: red;
    color: white;
}
.video-btn {
    color: black;
    text-decoration: none;
    font-weight: 700;

}

.video-btn span {
    color: red;
    font-size: 1.3rem;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid red;
    border-radius: 50%;
    transition: 0.3s;
}
.video-btn span:hover {
    background: red;
    color: #fff;
}

/* Hero Image */
.hero-img img {
    width: 400px;
    border-radius: 50%;
}

.hero-img span {
    border-radius: 25px;
    border-color: red;
}
.hero-img {
    float: right;
}

/*About Section*/
.about {
    color: #999;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    font-family: Caveat, cursive;
} 

.about span {
    color: red;
}

